<h1>Edit Shift</h1>

<%= form_for :shift, url: day_shift_path(@shift.day, @shift), method: :patch do |f| %>
 
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@shift.errors.count, "error") %> prohibited
        this shift from being saved:
      </h2>
      <ul>
        <% @shift.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :shifts %><br>
    <%= f.text_field :hours %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>

<h2>Employees:</h2>
<% @shift.day do |user| %>
<%= user.fields_for(:user) do |users| %>
<p>
  <%= users.username %>
</p>
<% end %>
<% end %>

<h2>Add an Employee:</h2>
<%= form_for(@shift.day) do |f| %>
  <%= f.fields_for(:users) do |tf| %>
<p>
  <%= tf.label :name %>
  <br>
  <%= tf.text_field :username %>
</p>
<p>
  <%= tf.submit %>
<%= f.submit %>
 </p>
 <% end %>
 <% end %>
<%= link_to 'Back', edit_day_path(@shift.day) %>

